<!DOCTYPE HTML>
<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta id="_csrf" name="_csrf" content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta id="_csrf_header" name="_csrf_header" content="${_csrf.headerName}"/>
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div class="jumbotron">
        <table>
            <tr>
                <th>번호</th>
                <td th:text="${board.id}"></td>
                <th>작성자</th>
                <td th:text="${board.member.nickname}"></td>
                <th>작성일</th>
                <td th:text="${#temporals.format(board.createDate, 'yyyy-MM-dd HH:mm')}"></td>
                <th>조회수</th>
                <td th:text="${board.count}"></td>
            </tr>
        </table>
        <br>
        <table>
            <tr>
                <th th:text="${board.title}" colspan="8"></th>
            </tr>
            <tr>
                <td th:text="${board.content}" colspan="8" rowspan="10"></td>
            </tr>
        </table>
        <div th:if="${board.member.loginId == session.user.username}">
            <a href="#" th:href="@{/user/posts/{boardId}/update (boardId=${board.id})}" class="btn btn-lg btn-info">수정</a>
            <form th:action="@{/user/posts/{boardId}/delete (boardId=${board.id})}" method="post">
                <button type="submit" class="btn btn-lg btn-dark">삭제</button>
            </form>
        </div>
    </div>
    <h5>댓글</h5>
    <div th:if="${#authorization.expr('isAuthenticated()')}">
        <form id="replyForm" name="replyForm">
            <table>
                <tr>
                   <td colspan="4" rowspan="2">
                       <input type="hidden" name="loginId" id="loginId" th:value="${session.user.username}">
                       <input type="hidden" name="boardId" id="boardId" th:value="${board.id}">
                       <textarea id="content" name="content" th:inline="text" cols="70" rows="2"
                                 style="resize:none;"></textarea>
                   </td>
                    <td><button id="addReply" type="button" class="btn btn-lg btn-dark">댓글등록</button></td>
                </tr>
            </table>
        </form>
        <br>

        <div id="replyArea">
        </div>

    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>

<script type="application/javascript" th:inline="javascript">
    $(function() {
            var csrfToken = /*[[${_csrf.token}]]*/ null;
            var csrfHeader = /*[[${_csrf.headerName}]]*/ null;
            $(document).ajaxSend(function (e, xhr, options) {
                xhr.setRequestHeader(csrfHeader, csrfToken);
            });
        });

    $(document).ready(function(){
        getAllReplies();


    });

   $(function () {
        $("#addReply").click(function(){
            var loginId = $("#loginId").val();
            var content=$("#content").val();
            var boardId = $("#boardId").val();

            if($("#content").val()==""){
                alert("내용을 입력하세요");
                return;
            }

            $.ajax({
                url:'/user/reply/'+boardId + '/new',
                type:'post',
                data:{loginId:loginId,
                      content:content},
                success: function(result){
                    $("#content").val("");
                    if(result==1){
                        getAllReplies();
                    }
                },
                error:function(request,status,error){
                    alert("code = "+ request.status + " message = " + request.responseText + " error = " + error);
                },
                 complete : function(data) {

                    }
            });

        });

        $(".replyUpdate").click(function(){
            console.log("클릭");
            var index = $(this).parent().index();
            var replyId = $(".replyId").eq(index).val();
            var content = $(".replyContent").eq(index).val();

            var value='<textarea id="contentUp" name="contentUp" th:inline="text" cols="70" rows="2"'+
                       ' style="resize:none;">' +content+'</textarea>'+
                       '<button type="button" onclick="updateReply('+replyId+');">수정</button>'+
                       '<button class="replyDelete" type="button" onclick="getAllReplies()">취소</button>';

            $(".replies").eq(index).html(value);
        });
    });

    function getAllReplies(){
        var boardId = $("#boardId").val();
        var loginId = $("#loginId").val();

        $.ajax({
            url: "/user/reply/"+boardId,
            dataType: 'json',
            type:'get',
            success:function(rList){

            var value= "";

                if(rList == ""){
                    return;
                }else{

                        for(var i in rList){
                            value += '<div class="replies" style="background: antiquewhite;padding: 5px;">' +
                                          '<p>' + rList[i].nickname + ' | ' + rList[i].createDate + '</p>' +
                                          '<div class="replyContent">' +  rList[i].content + '</div>';
                             if(loginId == rList[i].loginId && rList[i].status=='VISIBLE'){
                                 value += '<div class="btnArea">' +
                                               '<input type="hidden" class="replyId" name="replyId" value="'+ rList[i].id+'">' +
                                               '<button class="replyUpdate" type="button">수정</button>'+
                                               '<button class="replyDelete" type="button" onclick="deleteReply('+rList[i].id+');">삭제</button>' +
                                          '</div>';
                             }
                           value+= '</div><br>';
                        }
                }
                 $("#replyArea").html(value);
            },
            error:function(){
                console.log("ajax통신 에러");
            }
        });
    };

    function deleteReply(replyId){

        $.ajax({
            url:'/user/reply/' +replyId + '/status',
            type:'post',
            success:function(reply){
                if(reply != ""){
                    alert("댓글이 삭제되었습니다.");
                    getAllReplies();
                }
            },error:function(){
                console.log("ajax 통신 실패");
            }
        });
    };

    $(document).on("click",".replyUpdate",function(){
            var index = $(this).parent().parent().index();
            var replyId = $(".replyId").eq(index).val();
            var content = $(".replyContent").eq(index).text();

            var value='<textarea id="contentUp" name="contentUp" th:inline="text" cols="70" rows="2"'+
                       ' style="resize:none;">' +content+'</textarea>'+
                       '<button type="button" onclick="updateReply('+replyId+');">수정</button>'+
                       '<button class="replyDelete" type="button" onclick="getAllReplies()">취소</button>';

            $(".replies").eq(index).html(value);
    });

    function updateReply(replyId){
        var content = $("#contentUp").val();

        $.ajax({
            url:'/user/reply/'+replyId,
            data:{content:content},
            type:'post',
            success:function(result){
                if(result==1){
                    alert("댓글이 수정되었습니다.");
                    getAllReplies();
                }else{
                    alert("잘못된 접근입니다.");
                }
            },
            error:function(){
                console.log("댓글수정 ajax통신 실패");
            }
        });
    };
</script>