<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div class="jumbotron">
        <table>
            <tr>
                <th>번호</th>
                <td th:text="${board.id}"></td>
                <th>작성자</th>
                <td th:text="${board.member.nickname}"></td>
                <th>작성일</th>
                <td th:text="${board.createDate}"></td>
                <th>조회수</th>
                <td th:text="${board.count}"></td>
            </tr>
        </table>
        <br>
        <table>
            <tr>
                <th th:text="${board.title}" colspan="8"></th>
            </tr>
            <tr>
                <td th:text="${board.content}" colspan="8" rowspan="10"></td>
            </tr>
        </table>


    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>