<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div class="jumbotron">
        <div th:if="${#authorization.expr('isAuthenticated()')}">
            <a class="btn btn-lg btn-info" href="/user/posts">글쓰기</a>
        </div>
       <table>
            <thead>
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성일</th>
                    <th>조회수</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="boards : ${boards}">

                    <td th:text="${boards.id}"></td>
                    <td><a href="#" th:href="@{/user/posts/{boardId} (boardId=${boards.id})}">
                        <p th:text="${boards.title}"></a></p>
                    </td>
                    <td th:text="${boards.member.nickname}"></td>
                    <td th:text="${#temporals.format(boards.createDate, 'yyyy-MM-dd HH:mm')}"></td>
                    <td th:text="${boards.count}"></td>
                </tr>
            </tbody>
       </table>


    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>