<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>게시글작성</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <link href="/css/postsForm.css" type="text/css" rel="stylesheet">
    <div class="jumbotron">
        <form role="form" th:action="@{/user/posts/new}" method="post">
            <table class="table">
                <tr>
                    <th>작성자</th>
                    <input type="hidden" id="loginId" name="loginId" th:value="${session.user.username}">
                    <th><p th:text="${session.user.nickname}"></p></th>
                </tr>
                <tr>
                    <th>제목</th>
                    <td><input type="text" id="title" name="title"></td>
                </tr>
                <tr>
                    <td colspan="2" rowspan="3">
                        <textarea name="content" id="content"></textarea>
                    </td>
                </tr>
            </table>

            <button type="submit" class="btn btn-primary">등록</button>
            <a class="btn btn-lg btn-dark" href="/">취소</a>
        </form>

    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>